.expense-list {
  list-style: none;
  padding: 0;
}

.expense-list__message {
  color: #bfbfbf;
  margin: 1rem;
  text-align: center;
}

.expense-list__image {
  width: 15rem;
  border-radius: 12px;
}
