.new-expense {
  background-color: #c3dafd;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  /* box-shadow: 0 1px 8px rgb(0, 0, 0, 0.25); */
  box-shadow: 0px 0px 11px 4px rgb(0, 0, 0, 0.25);
  text-align: center;
}

.new-expense__actions button,
.show-form {
  /* background-color: #042d6a; */
  background-color: #0b2545;
  border: 1px solid transparent;
  border-radius: 12px;
  color: white;
  font: inherit;
  font-weight: 500;
  cursor: pointer;
  padding: 1rem 2rem;
  margin-right: 1rem;
}

.new-expense__actions button,
.show-form:hover,
.new-expense__actions button,
.show-form:active {
  /* background-color: #001f54;
  border-color: #001f54; */
  background-color: #0b2545;
  border-color: #0b2545;
}

@media (min-width: 380px) and (max-width: 759px) {
  .new-expense {
    width: 40rem;
    max-width: 82%;
  }

  .new-expense__actions button {
    padding: 0.75rem 1.5rem;
    /* align-items: center; */
  }
}

@media (min-width: 760px) {
  .new-expense {
    width: 45rem;
    max-width: 85%;
  }
}
